// Conexão com o banco de dados
DATABASE_URL = "url_conxão_supabase"

// Conexão com o Google Cliente para autenticação via Google
GOOGLE_CLIENT_ID = "SUA CHAVE DE CLIENTE DO GOOGLE"
GOOGLE_CLIENT_SECRET = "SUA CHAVE SECRETA DO GOOGLE"